
.vip{
    text-align: center;
    padding-bottom: 65px;
    margin-right: 400px;
}
button{
    background-color: rgb(145, 16, 112);
    padding: 5px;
    border-radius: 10px;
    font-size: 17px;
    color: white;
    
         
      }