textarea{
    padding: 80px;
    margin-left: 250px;
    padding-left: 150px;
    font-size: 20px;
    
}
.fk{
    padding-bottom: 15px;
    
}
.wat{
    background-color: turquoise;
    color: black;
    font-size: 15px;
    
    
}
h2{
    margin-left: 250px;
    padding-bottom: 10px;
}
.wag{
    margin-top: 5px;
    margin-left: 250px;
    margin-bottom: 28px;
}
